<div class="main-page-content" style="margin-top:80px;">
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <div id="about-us" class="clear">
      <!-- ####################################################################################################### -->
      <section id="about-intro" class="clear">
        <div class="one_half first">
          <h2>Suvozač</h2>
          <p>Suvozač je aplikacija koja ćе Vam u svakom trenutku pružiti pomoć na putu gde god da se nalazite. Potrebno je samo da prijavite Vaš problem i mi smo tu da Vam preporučimo najbolje i najefikasnije rešenje.</p>
          <p>Pridružite se serviserima u našoj aplikaciji i bićete među prvima kojem će biti prijavljeni kvarovi vozača u Vašem regionu.</p>
        </div>
        <div class="one_half"><img src="../../assets/road.jpg" alt=""></div>
      </section>
      <!-- ####################################################################################################### -->
      <section id="statements" class="clear">
        <div class="first">
          <h2>Ukratko o Suvozaču</h2>
          <p>
Dva tipa korisnika:
          </p>
<ol>
    <li>Vozači – fizička lica == Klijenti kojima se događaju problemi na putu ili žele da saznaju stanje na putevima u blizini</li>
    <li>Servisi – pravna lica == omogućavaju usluge servisiranja i/ili transporta vozila do željenog servisa.</li>
</ol>
<p>
Zahtevi korisnika:
</p>
<ol>
    <li>Zahtevi korisnika tipa vozač:</li>
    <p>Vozač otvara nalog korišćenjem svoje e-mail adrese i unosom password-a, što omogućava njegovu autentikaciju i autorizaciju u daljem korišćenju aplikacije. Dodatni podaci koje korisnik unosi: Ime, prezime, korisničko ime, broj telefona radi kontakta sa servisima i opcionalna fotografija korisnika. Ostavljen prostor za proširenje skupa neophodnih podataka.
	Svaki vozač može imati jedno ili više vozila. Za svako vozilo neophodno je uneti tip vozila, marku, model, godinu proizvodnje, tip motora i njegove karakteristike (gorivo i kubikaža).
	Vozač može doživeti nezgodu na putu, gde je neophodna komunikacija sa odgovarajućim serviserom/šlep-službom. Potrebno je da vozač unese sledeće informacije o nezgodi: lokacija na kojoj se nezgoda dogodila, datum i vreme nezgode, vozilo na kome je naneta šteta, tip nezgode. Tip nezgode može biti kvar određenog tipa: mehanički kvar, fizičko oštećenje vozila ili nepoznato. Uz to, vozaču je data i mogućnost dodatnog opisa kvara, ukoliko ga može pružiti.
	Vozač može da postavi obaveštenje o stanju na putu na kome se trenutno nalazi. U tom scenariju, vozač navodi tačnu lokaciju, tip informacije (zastoj, policijska patrola, radovi na putu) uz opcionalni opis stanja i fotografiju sa lica mesta.
	Nakon interakcije sa servisom, korisnik može oceniti servis davanjem ocene i ostavljanjem komentara, utiska.
    </p>
    <li>Zahtevi korisnika tipa servis:</li>
    <p>Servis otvara nalog korišćenjem svoje e-mail adrese i unosom password-a, što omogućava njegovu autentikaciju i autorizaciju u daljem korišćenju aplikacije. Dodatni podaci koje servis unosi: Naziv servisa, lokacija servisa, jedan ili više kontakt brojeva telefona, opcionalno jedna ili više fotografija servisa i regioni koje određeni servis pokriva. Za svaki servis se čuvaju podaci o uspešnosti njegovog rada, koje popunjavaju vozači kojima su pružene usluge od strane tog servisa (ocena korisnika i dodatni komentar).
	Svaki servis može nuditi jednu ili više usluga (šlep-služba, vulkanizerske usluge, usluge limarije, auto-mehaničarske usluge). Servis može servisirati jedan ili više tipova automobila.
    </p>
</ol>	
        </div>
      </section>
      <!-- ####################################################################################################### -->
      <section id="team">
        <ul class="clear">
          <li class="one_third first">
            <figure><img src="../../assets/dare.jpg" >
              <figcaption>
                <div class="fl_left">
                  <p class="team_name">Dario Jahić</p>
                  <p class="team_title">153/14</p>
                </div>
                <ul>
                  <li><a href="#"><img src="../../assets/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="../../assets/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="../../assets/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="../../assets/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="../../assets/social-icon.png" alt=""></a></li>
                </ul>
                <p class="team_description">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis.</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img src="../../assets/mare.jpg" alt="">
              <figcaption>
                <div class="fl_left">
                  <p class="team_name">Marko Kostadinović</p>
                  <p class="team_title">31/14</p>
                </div>
                <ul>
                  <li><a href="#"><img src="../../assets/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="../../assets/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="../../assets/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="../../assets/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="../../assets/social-icon.png" alt=""></a></li>
                </ul>
                <p class="team_description">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis.</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img src="../../assets/dule.jpg" alt="">
              <figcaption>
                <div class="fl_left">
                  <p class="team_name">Dušan Ignjatović</p>
                  <p class="team_title">136/14</p>
                </div>
                <ul>
                  <li><a href="#"><img src="../../assets/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="../../assets/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="../../assets/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="../../assets/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="../../assets/social-icon.png" alt=""></a></li>
                </ul>
                <p class="team_description">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis.</p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </section>
      <!-- ####################################################################################################### -->
    </div>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>

</div>